# Ignore everything
*

# Except this folder
!y_climateapp/
!y_climateapp/**
!todo/
!todo/**
!feastify/
!feastify/**
!attendance_tracking/
!attendance_tracking/**
!portfolio/
!portfolio/**
# Also don't ignore the .gitignore file itself
#!.gitignore